<!-- 主体内容-开始 -->
<div class="main clearfix">
    <div class="main-left fl" id="j-main-list">
        <div class="main-nav clearfix" id="j-main-nav">
            <ul class="clearfix fl">
                <li>全 部</li>
            </ul>
            <p class="notice"><a href="/about/gold.html"><b>公告：</b>金`币规则</a></p>
        </div>
        <div class="side-nav" id="j-side-nav">
            <ul class="clearfix">
                <li><a href="/">首页</a></li>
                <li class="cur"><a href="/text">段子</a></li>
                <li><a href="/pic">趣图</a></li>
                <li><a href="/gif">动图</a></li>
                <li><a href="/video">视频</a></li>
            </ul>
        </div>
        <include file="jokes" />

        <div class="comment">
            <div class="page">
                {$page}
            </div>
        </div>
    </div>
    <include file="right" />

</div>
